<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        
    

        <h2><%= student.s_name%> , you are suggested to do 
            <a href="http://localhost:4000/<%= suggest[0]%>" >
            <%= suggest[0]%></a> 
            <a href="http://localhost:4000/<%= suggest[1]%>" >
                <%= suggest[1]%></a> 

                </a>
                
        </h2>


        <h2>You Have done course : <%=student.courses[0]%></h2>
        <h2>Your Cgpa : <%=  student.cgpa %></h2>
       

        
 </ul>
    
</body>
</html>